html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Avenir', sans-serif;
    background-color: #94aad4;
    color: #0f0909;
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.text {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}
.button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #d01c08;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #c0392b;
}
.button:active {
    background-color: #a93226;
}
.button:disabled {
    background-color: #5d8ba7;
    cursor: not-allowed;
}
.button:disabled:hover {
    background-color: #e3e6e8;
}
.button:disabled:active {
    background-color: #bdc3c7;
}
.button:focus {
    outline: none;
    box-shadow: 0 0 5px #2a658c;
}
.button:focus:hover {
    box-shadow: 0 0 5px #c0392b;
}
.button:focus:active {
    box-shadow: 0 0 5px #a93226;
}
.button:focus:disabled {
    box-shadow: none;
}
.button:focus:disabled:hover {
    box-shadow: none;
}
.button:focus:disabled:active {
    box-shadow: none;
}

@keyframes identifier {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.icon{
    animation: identifier 3s ease-in-out infinite;
}